.tag-container {
  max-height: 200px;  
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: small;
}
.tag-container label {
  display: inline-flex;
  /* width helps with how many columns */
  width: 10%; 
  margin-bottom: 0.25rem;
}
